<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasDay3"
        tools:targetApi="31">
        <activity
            android:name=".Halamanparfdr5"
            android:exported="false" />
        <activity
            android:name=".Halamanparfdr4"
            android:exported="false" />
        <activity
            android:name=".Halamanparfdr3"
            android:exported="false" />
        <activity
            android:name=".Halamanparfdr2"
            android:exported="false" />
        <activity
            android:name=".Halamanparfdr1"
            android:exported="false" />
        <activity
            android:name=".Halamanparfgc5"
            android:exported="false" />
        <activity
            android:name=".Halamanparfgc4"
            android:exported="false" />
        <activity
            android:name=".Halamanparfgc3"
            android:exported="false" />
        <activity
            android:name=".Halamanparfgc2"
            android:exported="false" />
        <activity
            android:name=".Halamanparfgc1"
            android:exported="false" />
        <activity
            android:name=".Halamanparfcn5"
            android:exported="false" />
        <activity
            android:name=".Halamanparfcn4"
            android:exported="false" />
        <activity
            android:name=".Halamanparfcn03"
            android:exported="false" />
        <activity
            android:name=".Halamanparfcn3"
            android:exported="false" />
        <activity
            android:name=".Halamanparfcn2"
            android:exported="false" />
        <activity
            android:name=".Halaman2parfcn2"
            android:exported="false" />
        <activity
            android:name=".Halamanparfcn1"
            android:exported="false" />
        <activity
            android:name=".Halaman4"
            android:exported="false" />
        <activity
            android:name=".Halaman3"
            android:exported="false" />
        <activity
            android:name=".Halaman2"
            android:exported="false" />
        <activity
            android:name=".MainHAL2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>